PORT=3000
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=sand_logistics
SHIP_POSITION_PROVIDER_NAME=SIM_PROVIDER
SHIP_POSITION_PROVIDER_URL=
SHIP_POSITION_PROVIDER_TIMEOUT_MS=4000
SHIP_POSITION_TTL_MS=60000
SHIP_POSITION_FALLBACK_TTL_MS=1800000
